@page
@model SMS.Net.RavenSMS.Pages.PreferencesIndexPageModel
@{
    ViewData[ViewDataKeys.PageTitle] =  "Manage preferences";
    ViewData[ViewDataKeys.SelectedPage] = PageId.PreferencesPage;
}

<h1>
    Manage preferences
</h1>