<ng-container *transloco="let translate">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{translate('preferences.pages.index.page_title')}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form [formGroup]="_settingsForm" *ngIf="_settingsForm">
      <h3 class="ion-padding-top ion-padding-start">
        {{translate('preferences.pages.index.sections.appearance.title')}}
      </h3>
      <!-- appearance -->
      <ion-list style="width: 100%">
        <ion-item>
          <ion-icon slot="start" name="moon-outline"></ion-icon>
          <ion-label>
            {{translate('preferences.pages.index.sections.appearance.labels.dark_mode')}}
          </ion-label>
          <ion-toggle formControlName="darkMode"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="language-outline"></ion-icon>
          <ion-label>
            {{translate('preferences.pages.index.sections.appearance.labels.language')}}
          </ion-label>
          <ion-select
            formControlName="language"
            placeholder="{{translate('preferences.pages.index.sections.appearance.labels.language')}}"
          >
            <ion-select-option
              *ngFor="let language of _languages"
              value="{{language.value}}"
              >{{language.label}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
      <!-- app identification -->
      <h3 class="ion-padding-top ion-padding-start">
        {{translate('preferences.pages.index.sections.app_id.title')}}
      </h3>
      <ng-container *ngIf="_appIdentification">
        <ion-list style="width: 100%">
          <ion-item>
            <ion-label
              position="stacked"
              style="margin-right: 10px; min-width: 100px"
            >
              {{translate('preferences.pages.index.sections.app_id.labels.client_id')}}
            </ion-label>
            <ion-input
              readonly
              [value]="_appIdentification.clientId"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label
              position="stacked"
              style="margin-right: 10px; min-width: 100px"
            >
              {{translate('preferences.pages.index.sections.app_id.labels.client_name')}}
            </ion-label>
            <ion-input
              readonly
              [value]="_appIdentification.clientName"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              {{translate('preferences.pages.index.sections.app_id.labels.client_description')}}
            </ion-label>
            <ion-textarea
              readonly
              [value]="_appIdentification.clientDescription"
            >
            </ion-textarea>
          </ion-item>
        </ion-list>
      </ng-container>
      <!-- server info -->
      <h3 class="ion-padding-top ion-padding-start">
        {{translate('preferences.pages.index.sections.server_info.title')}}
      </h3>
      <ng-container *ngIf="_serverInfo">
        <ion-list style="width: 100%">
          <ion-item>
            <ion-label
              position="stacked"
              style="margin-right: 10px; min-width: 100px"
            >
              {{translate('preferences.pages.index.sections.server_info.labels.server_url')}}
            </ion-label>
            <ion-input readonly [value]="_serverInfo.serverUrl"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label
              position="stacked"
              style="margin-right: 10px; min-width: 100px"
            >
              {{translate('preferences.pages.index.sections.server_info.labels.server_status')}}
            </ion-label>
            <ion-input
              readonly
              [value]="translate('common.enumerations.serverStatus.' + _serverInfo.status)"
            ></ion-input>
          </ion-item>
        </ion-list>
      </ng-container>
    </form>
  </ion-content>
</ng-container>
