@page
@model SMS.Net.RavenSMS.Pages.MessagesPreviewPageModel
@{
    ViewData[ViewDataKeys.PageTitle] = "Message Preview";
    ViewData[ViewDataKeys.SelectedPage] = PageId.MessagesPreviewPage;
}

<h1>
    Preview Messages
</h1>