<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/app/tabs/messages'"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="_message" class="ion-padding">
    <h1>Message details</h1>
    <p>
      Status: <br />
      <span
        [ngClass]="{
        'message-created-color': _message.status === _messageStatus.Created, 
        'message-queued-color': _message.status === _messageStatus.Queued, 
        'message-failed-color': _message.status === _messageStatus.Failed, 
        'message-sent-color': _message.status === _messageStatus.Sent
      }"
        >{{_message.status}}</span
      >
    </p>
    <p>
      To: <br />
      {{_message.to }}
    </p>
    <p>
      Sent:<br />
      {{_message.sentOn | date:'long'}}
    </p>
    <p>
      Created:<br />
      {{_message.createdOn | date:'long'}}
    </p>
    <p>
      Content: <br />
      {{_message.content}}
    </p>
    <br />
  </div>

  <ion-list>
    <ion-item (click)="removeMessage()" button>
      <ion-label color="danger">Remove</ion-label>
      <ion-icon
        slot="end"
        color="danger"
        size="small"
        name="trash-outline"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
