@page
@model SMS.Net.RavenSMS.Pages.ClientsAddPageModel
@{
    ViewData[ViewDataKeys.PageTitle] = "Client registration";
    ViewData[ViewDataKeys.SelectedPage] = PageId.ClientAddPage;
}

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        <h1 class="app-page-title">Client registration</h1>
        <hr class="mb-4">
        <div class="row g-4 settings-section">
            <div class="app-card app-card-settings shadow-sm p-4">
                <div class="app-card-body">
                    <form id="add-client-form" class="settings-form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!-- Client name -->
                        <div class="mb-3">
                            <label asp-for="Input.Name" class="form-label">Name</label>
                            <input asp-for="Input.Name" class="form-control" placeholder="client app name">
                            <span asp-validation-for="Input.Name" class="invalid-feedback"></span>
                        </div>
                        <!-- Client description -->
                        <div class="mb-3">
                            <label asp-for="Input.Description" class="form-label">Description</label>
                            <textarea asp-for="Input.Description" class="form-control" placeholder="client app description" style="height: 100px"></textarea>
                            <span asp-validation-for="Input.Description" class="invalid-feedback"></span>
                        </div>
                        <!-- Client phone number -->
                        <div class="mb-3">
                            <label asp-for="Input.PhoneNumber" class="form-label">Phone number</label>
                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="client app phone number">
                            <span asp-validation-for="Input.PhoneNumber" class="invalid-feedback"></span>
                        </div>
                        <!-- Send action -->
                        <button type="submit" class="btn app-btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
        <hr class="my-4">
    </div>
</div>

@section scripts {
<script src="~/js/vendor.jquery.validation.min.js"></script>
<script src="~/js/clients.add.page.min.js"></script>
<script>
    $(function () {
        // get the form settings
        var validatorSettings = $.data($('#add-client-form')[0], 'validator').settings;

        // override the settings
        validatorSettings.onkeyup = false;
        validatorSettings.errorElement = "div";
        validatorSettings.errorClass = "is-invalid";
    });
</script>
}