<ion-content
  class="ion-padding-top ion-padding-start ion-padding-end"
  [style.--background]="scanActive ? '#00000000' : 'var(--ion-item-background, var(--ion-background-color, #fff))'"
>
  <ng-container *ngIf="configurationAllowed">
    <h3>Client application configuration</h3>
    <!-- for non web based apps -->
    <ng-container *ngIf="platform != 'web'; else elseTemplate">
      <div *ngIf="!scanActive">
        <div>
          <p>
            first create an app on your server, and then scan the qr code to
            configure this client instance.
          </p>
          <p>{{message}}</p>
          <ion-button *ngIf="permissionGranted" (click)="startScanning()"
            >start scanning</ion-button
          >
          <ion-button *ngIf="showOpenSettingsButton" (click)="openSettingPage()"
            >open settings</ion-button
          >
          <ion-button
            *ngIf="showGrantPermissionButton"
            (click)="grantPermission()"
            >grant permission</ion-button
          >
        </div>
      </div>
      <div *ngIf="scanActive" class="scan-box"></div>
    </ng-container>
    <!-- for web app only for testing purpose -->
    <ng-template #elseTemplate>
      <form
        [formGroup]="configurationForm"
        *ngIf="configurationForm"
        (ngSubmit)="submit()"
      >
        <p>{{message}}</p>
        <ion-list style="width: 100%">
          <ion-item>
            <ion-label
              position="stacked"
              style="margin-right: 10px; min-width: 100px"
            >
              Server Url
            </ion-label>
            <ion-input formControlName="serverUrl"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label
              position="stacked"
              style="margin-right: 10px; min-width: 100px"
            >
              Client Id
            </ion-label>
            <ion-input formControlName="clientId"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label
              position="stacked"
              style="margin-right: 10px; min-width: 100px"
            >
              Client Name
            </ion-label>
            <ion-input formControlName="clientName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea formControlName="clientDescription"> </ion-textarea>
          </ion-item>
        </ion-list>
        <ion-button type="submit" [disabled]="!configurationForm.valid"
          >configure</ion-button
        >
      </form>
    </ng-template>
  </ng-container>
</ion-content>
